*,*::before,*::after{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,body{
	height: 100%;
}


body::before,body::after{
	content: "";
	display: block;
	height: 50%;
	background: #00bdea;
}
body::after{
	background: #208ff9;
}
.nav{
	overflow: hidden;
	position: absolute;
	left: 50%;
	top: 50%;
	width: auto;
	height: 180px;
	margin-top: -90px;
	background: #FFFFFF;
	border-radius: 10px;
	transform: translate3d(-50%,0,0);
	box-shadow: 0 20px 70px rgba(0,0,0,0.2);
}
/* -------按钮------------------------- */
.nav-btn{
	position: absolute;
	right: 0;
	top: 0;
	width: 180px;
	height: 180px;
	padding: 72px 62px;
	cursor: pointer;
}
.nav-btn .btnRail{
	content: "";
	display: block;
	width: 56px;
	height: 8px;
	border-radius: 4px;
	background: #096dd3;
	transform-origin: 32% 32%;
	transition: transform 1s  cubic-bezier(0.48, 0.43, 0.29, 1.3),background-color 0.3;
}
.nav-btn:hover .btnRail{
	background: #00bdea;
}
.nav-btn .btnRail:nth-child(1){
	margin-bottom: 20px;
}

/* --------内容------------------ */
.nav-content{
	position: relative;
	width: 180px;
	height: 100%;
	transition: width 1s cubic-bezier(0.49, -0.3, 0.68, 1.23);
}

.nav-items{
	position: relative;
	width: 820px;
	height: 100%;
	padding-left: 40px;
	/* padding-right: 220px; */
	list-style-type: none;
	font-size: 0;
}

.nav-item:nth-child(1){
	width: 140px;
}
.nav-item{
	display: inline-block;
	vertical-align: top;
	width: 120px;
	text-align: center;
	color: #6c7784;
	font-size: 28px;
	line-height: 180px;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	perspective: 1000px;
	transition: color 0.3s;
	cursor: default;
}

.nav-item:hover{
	color: #00BDEA;
}

.item-text{
	display: block;
	height: 100%;
	opacity: 0;
}


@keyframes nav01{
	0%{
		transform:rotateY(-80deg) ;
		opacity: 0;
	}
	50%{
		transform:rotateY(0deg) ;
		opacity: 0.4;
	}
	80%{
		transform:rotateY(35deg) ;
		opacity: 0.5;
	}
	100%{
		transform:rotateY(0deg) ;
		opacity: 1;
	}
}
@keyframes nav02{
	from{
		transform:rotateY(0) ;
		opacity: 1;
	}
	to{
		transform:rotateY(-80deg) ;
		opacity: 0;
	}
}

/* -----------返回样式--------- */
.nav-item:nth-child(1) .item-text{
	transition-delay: .3s;
}
.nav-item:nth-child(2) .item-text{
	transition-delay: .2s;
}
.nav-item:nth-child(3) .item-text{
	transition-delay: .1s;
}
.nav-item:nth-child(4) .item-text{
	transition-delay: 0s;
}



/* ------js添加属性----------- */
.content{
	transition: width 1s cubic-bezier(0.48, 0.43, 0.29, 1.3);
	width: 820px;
}

.show-text{
	transform: rotateY(0);
	opacity: 1;
	transition: transform 0.7s cubic-bezier(0.48, 0.43, 0.7, 2.5), opacity 0.2s;
}

.btnRail01{
	transform: translateY(7px) rotate(-225deg);
	transition: transform 1s  cubic-bezier(0.48, 0.43, 0.29, 1.3);
}
.btnRail02{
	transform: translateY(-7px) rotate(225deg);
	transition: transform 1s  cubic-bezier(0.48, 0.43, 0.29, 1.3);
}
.btnRail03{
	transform: translateY(0px) rotate(0deg);
	transition: transform 1s  cubic-bezier(0.48, 0.43, 0.29, 1.3);
}
.btnRail04{
	transform: translateY(07px) rotate(0deg);
	transition: transform 1s  cubic-bezier(0.48, 0.43, 0.29, 1.3);
}

/* js */
#sec{
	background: url(public/img/cap.png) no-repeat;
}
#sec:hover{
	cursor: pointer;
	height: 150px;
}